certifi==2025.6.15
charset-normalizer==3.4.2
idna==3.10
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
numpy @ file:///C:/Users/dev-admin/mkl/numpy_and_numpy_base_1682982345978/work
pillow==10.4.0
requests==2.32.4
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
typing_extensions==4.13.2
urllib3==2.2.3
